@view-transition { navigation:auto; }

@keyframes page-old {
    from { transform:translateX(0%); }
    to { transform:translateX(100%); }
}
::view-transition-old(root) { animation: 0.4s ease both page-old; }

@keyframes page-new {
    from { transform:translateX(-20%); }
    to { transform:translateX(0%); }
}
::view-transition-new(root) { animation: 0.4s ease both page-new; }

:root { color-scheme:light dark; font-family:system-ui; height:100%; margin:0 }
@media (prefers-color-scheme:dark) {}

body { align-items:center; display:flex; justify-content:center; margin:0; min-height:75% }
main { max-width:480px }
label { display:block; padding:1rem 0 }
input { box-sizing:border-box; display:block; font-size:x-large; width:100% }
button[type=submit] { display:block; font-size:x-large; margin-top:1rem; width:100% }
